<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Admission</title>
</head>
<body>
    <h1>This is add admission view</h1>
    <p>Please Fill below Form</p>
    <form method="POST">
        <table>
        {{form.as_table}}
        </table>
        <br>
    <input type="submit" value="Add Student">  
    {% csrf_token %}  
    </form>
    
</body>
</html> 